<?xml version="1.0" encoding="UTF-8"?>
<!-- 对于整个程序的配置文件 -->
<codeGenerator>
	<packageName><!-- 产生文件对应的包名 -->		
		<Model>com.tonfun.tools.Model</Model>
		<DaoInterface>com.tonfun.tools.dao.test.I</DaoInterface>
		<DaoImpl>com.tonfun.tools.dao.test.C</DaoImpl>
		<ServiceInterface>com.tonfun.tools.service.I.module.sys.CI</ServiceInterface>
		<ServiceImpl>com.tonfun.tools.service.C.module.sys.CC</ServiceImpl>
	</packageName>
	<prefix> <!-- 产生文件对应的前缀名 -->
		<Model> </Model>
		<DaoInterface>I</DaoInterface>
		<DaoImpl> </DaoImpl>
		<ServiceInterface>I</ServiceInterface>
		<ServiceImpl> </ServiceImpl>
	</prefix>
	<suffix><!-- 产生文件对应的后缀名 -->
		<Model> </Model>
		<DaoInterface>Dao</DaoInterface>
		<DaoImpl>DaoImpl</DaoImpl>
		<ServiceInterface>Service</ServiceInterface>
		<ServiceImpl>ServiceImpl</ServiceImpl>
	</suffix>
</codeGenerator>